#wrapper {
  min-height: 100%;
  padding: 30px;
  color: #4b6883;
}

.blue-filtered-logo {
  filter: invert(39%) sepia(33%) saturate(502%) hue-rotate(167deg) brightness(89%) contrast(86%);
}

#register-box {
  background-color: #a2c1dd;
}
