header{
    background-color: #3E6181 ;
    margin: 0%;
}
header>img{
    width: 5vw;
    background-color: #6B9DC8;
}
#txtBusca{
    background-color: #6B9DC8;
    border: none;
    border-radius: 20px;
    text-align: center;
    padding: 8px 0px;
}
#carouselExampleControls{
    margin-top: 2%;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;

}
.quadrado>p{
    margin: 0px 2%;
    background-color: #6B9DC8;
    color: #6B9DC8;
    padding: 2px;
    border-radius: 20px;
}
@media screen and (max-width: 1024px) {
    header{
        width: 100vw;
        height: 15vw;  
    }
    .carousel-item img{
        height: 400px !important;
    }
}