header{
    background-color: #3E6181 ;
    margin: 0%;
}
header>img{
    width: 5vw;
    background-color: #6B9DC8;
}
.txtBusca{
    background-color: #6B9DC8;
    border: #3E6181 3px;
    border-style: solid;
    text-align: center;
    color: white;
    margin-right: 30px;
    width: 200px;
    height: 150px;
}
.dia{
    margin-right: 20%;
}
.education{
    margin-right: 20%;
}
.txtBusca>h3{
    font-size: 36px;
}
.txtBusca>p{
    font-size: 30px;
    background-color: #3E6181;
    margin-bottom: 0px;
}
.quadrado{
    margin: 30px 30px;
}
h1{
    font-size: 60px;
}
.title{
    margin-left: 30px;
}
button{
    background-color: #3E6181 ;
    border: #3E6181 3px;
    border-style: solid;
    text-align: center;
    color: white;
}
@media screen and (max-width: 1024px) {
    header{
        width: 100vw;
        height: 15vw;  
    }
    .carousel-item img{
        height: 400px !important;
    }
}